<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <title>Spring Boot Thymeleaf Hello World Example</title>

  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap-jsf.css}"/>
  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min-jsf.css}"/>
  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap-grid.min-jsf.css}"/>
  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap-grid-jsf.css}"/>
  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap-reboot-jsf.css}"/>
  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap-reboot.min-jsf.css}"/>

  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.css}"/>
  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap-grid.css}"/>
  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap-reboot.css}"/>

  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Mkyong.com</a>
</nav>

<main class="container" role="main">

  <div class="starter-template">
    <h1>Spring Boot Web Thymeleaf Example</h1>
    <h2>
      <span th:text="'Hello, ' + ${message}"></span>
    </h2>
  </div>

  <ol>
    <li th:each="task : ${tasks}" th:text="${task}"></li>
  </ol>

</main>
<!-- /.container -->

<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.bundle.js}" type="text/javascript"></script>
<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{webjars/jquery/3.1.1/jquery.js}" type="text/javascript"></script>
</body>
</html>